<form action="/restaurants/{{ rest._id }}?_method=PUT" method="POST">
  <input type="checkbox" name="isDone" {{#if rest.isDone}} checked{{/if}}>
  <input type="text" placeholder="name" name="name" value="{{ rest.name }}">
  <input type="text" placeholder="phone" name="phone" value="{{ rest.phone }}">
  <input type="text" placeholder="location" name="location" value="{{ rest.location }}">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>